.row {
  background-color: #1d2741;
  color: #faf9fa;
  margin: 0px;
  padding: 2em;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #fff;
  transition: background-color 0.2s;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.copyright {
  font-weight: lighter;
}

.social-icons li:last-child {
  margin-right: 0px;
}

.small-menu ul{
  padding-left: 0px;
}
