<footer class="footer">
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
      <ul class="small">
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/about">About me</a></li>
        <li><a routerLink="/music">Music</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 social-icons">
      <ul class="pull-right">
        <li><a href="https://www.facebook.com/mester.balazs" target="_blank" class="ion-logo-facebook"></a></li>
        <li><a href="https://www.linkedin.com/in/bal%C3%A1zs-mester-424b7012/" target="_blank" class="ion-logo-linkedin"></a></li>
        <li><a href="mailto:balazs.mester@gmail.com" target="_blank" class="ion-ios-mail"></a></li>
      </ul>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-xs-12 col-md-12 col-lg-12 text-center small">
      <p>Copyright &copy; 2018 by Mestahh. All rights reserved.</p>
    </div>
  </div>
</footer>
