<div class="row">
  <div class="col-xs-6">
    <h4>You have to log in first!</h4>
    <form (ngSubmit)="onLogin(f)" #f="ngForm">
      <div class="row form-group">
        <div class="col-xs-12">
          <input type="text" class="form-control" ngModel name="username" required="true">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <input type="password" class="form-control" ngModel name="password" required="true">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <button class="btn btn-primary" [disabled]="!f.valid" type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
