<div class="row">
  <div class="col-xs-6">
    <h4>You have to log in first!</h4>
    <div class="row form-group">
      <div class="col-xs-12">
        <input type="text" class="form-control" #inputUserName required="true">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12">
        <input type="password" class="form-control" #inputPassword required="true">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onLogin()">Login</button>
      </div>
    </div>
  </div>
</div>
