<h1>Welcome</h1>
<div class="row">
  <div class="col-md-10 text-justify">
    <p>
      Hello! My name is Balazs. I am 36, a lucky father of 3 wonderful, happy, smart, healthy boys and husband of a
      beautiful, loving wife. I love coding, learning new things.
      I enjoy playing the guitar, running, recording cover songs, buying new gear for recording and playing the guitar.
      I do read a lot both professional and easy stuff. Mainly fantasy and science fiction. <br/>

      I am working as a software developer and TDD enthusiast since 2006. I have extensive knowledge about creating
      software
      from planning and designing it to delivering it. I am a huge fan of automation, so I am using all the automated
      deployment, integration and testing
      frameworks whereever I can. If I can't, I try to write one that suits my needs.
    </p>
    <p>
      I have just started to learn Angular2 and my main area of interest is AWS and serverless computing at the moment.
      This site is a little practice to
      use lambdas and Dynamodb, Route53, AWS S3.
    </p>
    <p>You can find me on linkedin: <a href="https://www.linkedin.com/in/bal%C3%A1zs-mester-424b7012/" target="_blank">here</a>
      or send me an email here <a href="mailto:balazs.mester@gmail.com">balazs.mester@gmail.com</a></p>
  </div>
</div>


