<h2>Welcome!</h2>
<div class="row">
  <div class="col-md-12 text-justify about">
    <p>
      My name is Balázs. I am 36 and a lucky father of three wonderful, happy, smart, healthy boys and husband of
      a
      beautiful, loving wife. I love coding and learning new things.
      I enjoy playing the guitar, running, recording cover songs, buying new gear for recording and playing the guitar.
      I do read a lot both professional and easy stuff. Mainly fantasy and science fiction. </p>

    <p>I am working as a software developer and TDD enthusiast since 2006. I have extensive knowledge about creating
      software
      from planning and designing it to delivering it. I am a huge fan of automation, so I am using all the automated
      deployment, integration and testing
      frameworks whereever I can. If I can't, I try to write one that suits my needs.
    </p>
    <p>
      I have just started to learn Angular2 and my main area of interest is AWS and serverless computing at the moment.
      This site is a little practice to
      use lambdas and Dynamodb, Route53, AWS S3.
    </p>
    <p>You can find me on linkedin: <a href="https://www.linkedin.com/in/bal%C3%A1zs-mester-424b7012/" target="_blank">here</a>
      or send me an email here <a href="mailto:balazs.mester@gmail.com">balazs.mester@gmail.com</a></p>
  </div>
</div>
<hr>
<div class="row shorts">
  <div class="col-lg-4 col-md-12 col-xs-12">
    <h3><span class="ion-md-cloud"></span> Backend</h3>
    <div>
      <p>
        I am a backend developer who loves maintainable, clean code written with TDD. My main focus is <i>AWS</i>
        nowadays and I am eager to learn everything that I can related to <strong>serverless</strong> technologies.
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-xs-12">
    <h3><span class="ion-md-construct"></span> 12+ years of software</h3>
    <div>
      <p>
        I am in the software industry since 2006 and facilitating a small team 6 people for two years now. I am working
        with some sort of <i>agile methodology</i> since 2009.
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-xs-12">
    <h3><span class="ion-md-play"></span> Automate all the things!</h3>
    <div>
      <p>
        I hate doing the same things again and again, so I automate everything I can. I use <i>ruby</i>, <i>python</i>
        and <i>shell scripting</i> for that.
        I do know and love <i>CD</i> and <i>CI</i> tools. As a matter of fact, in my last role I introduced them to the
        entire company.
      </p>
    </div>
  </div>
</div>
<hr>
<div class="row skills">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3>Technical skills</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
               aria-valuemax="100">JAVA</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
               aria-valuemax="100">TDD, BDD</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
               aria-valuemax="100">Ruby</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
               aria-valuemax="100">Git and VCS</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
               aria-valuemax="100">Unix</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0"
               aria-valuemax="100">HTML, Javascript, CSS</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
               aria-valuemax="100">ELK stack</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
               aria-valuemax="100">AWS serverless computing</div>
        </div>
      </div>
    </div>
  </div>
</div>


