.navbar-nav li a:hover,
.navbar-nav li a:active {
  border-bottom: 2px solid darkorange;
  transition: border-bottom 0.2s;
}

.navbar-default {
  background: none;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #faf9fa;
}

.navbar-nav > .active > a {
  background: none;
  border-bottom: 2px solid darkorange;
}

header {
  background-image:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../assets/background.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
}

header h1 {
  font-size: 300%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: #ffffff;
}

.hero-textbox {
  margin-top: 9em;
}


