<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>{{ post.title }}</strong>
        <span *ngIf="authenticated" class="pull-right"><a [routerLink]="['/posts', 'edit', post.postId]">Edit</a> <a (click)="delete()" style="cursor: pointer;">Delete</a></span>
      </div>
      <div class="panel-body" [innerHtml]="post.body"></div>
      <div class="panel-footer">
        <small>Created by {{ post.author}}<span class="pull-right">{{ post.createdAt | date}}</span></small>
      </div>
    </div>
  </div>
</div>
